# Python
__pycache__/
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/

# MLflow
mlruns/

# Logs
logs/
data/logs/

# Monitoring Artifacts
reports/
metrics/*.csv
*.html
current_data.csv

# IDE
.idea/
.vscode/